@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    color: white;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    height: 100px;
}
header ul{
    display: flex;
    list-style: none;
    gap: 50px;
}
@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.light{
    background-image:
        conic-gradient(
            from var(--rotate) at 29% 10%,
            #0B1012 40%,
            #F4F7FC55,
            #0B1012 60%
        );
        font-size: 100px;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: rotateLight 
                    3s ease-in-out infinite
                    alternate;
}
@keyframes rotateLight{
    from{
        --rotate: 0.15turn
    }
    to{
        --rotate: -0.15turn;
    }
}